*{
  font-family: Arial;
  font-size: 1.2rem;
}

body{
  height: 100vh;
}

a {
  color: white;
}

.header {
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  font-family: Arial;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav ul {
  display: flex;
}

.nav ul li a{
  background: tomato;
  margin: 0 10px;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.nav ul li a:hover{
  background: #fff;
  color: #000;
}

.section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 10px;
  padding: 10px;
  background: #fff;
}

.container {
  margin: 0 auto;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.container div {
  margin: 5px;
  padding: 5px;
  /* background: #f3f3f3; */
}

.formSearch{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.formSearch div{
  margin: 0 10px;
}

.formSearch h2{
  font-size: 1.8rem;
  margin-bottom: 4px;
}

.formSearch form{
  height: 35dpx;
  display: flex;
}

.formSearch form input{
  width: 150px;
  padding: 10px;
  display: flex;
}

.formSearch form button{
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 40px;
  display: flex;
}

.projects {
  box-shadow: 10px 10px 8px #aaa;
  padding: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 500px;
  background: #f3f3f3;
  width:100%;
  overflow:hidden; 
  overflow-y:scroll;
}
.projects li{
  min-height: 80px;
  background: #fff;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.projects h2{
  font-size: 1.4rem;
}

.projects .features{  
  margin: 0;
  padding: 0;
  align-items: flex-end;
  flex-wrap: wrap;
  /* background: #fff; */
  display: flex;
  justify-content: space-between;
}

.projects .features p {
  color: #aaa;
  margin-bottom: 10px;
}

/* //FALTA TERMINAR ISSO AQUI QUANDO CHEGAR DEIXA O BUTTON ORGANIZADO */
.projects .features a {  
  text-align: center;
  background: tomato;
  padding: 10px 30px;
}

.projects .features a:hover {  
  background: #000;
}

@media(max-width: 651px){
  .projects .features p {
    margin: 15px 0;
  }

  .projects .features a {  
    width: 100%;
  }

  .formSearch{
    justify-content: center;
  }
}